<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navigation">
{% for menu_item in tables %}
    <h2><a href={{menu_item.0}}>{{ menu_item.0|upper }}</a></h2>
{% endfor %}
</nav>


<h2 class="title">{{ title }}</h2>

    <table class="table">
        <tr class="table__header">
            {% for header in headers  %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="table__row">
            {% for cell in row %}
             <td class="table__cell">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>